/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.containerr{
  width: 85%;
  margin-top: -100px;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;

}
.containerr .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerr .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
  margin-left: 50px;
}
.content .left-side .details i{
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 18px;
  color: #ffffff;
  font-weight: 600px;
}
.content .left-side .details .text-two{
  margin-bottom: 20px;
}

.containerr .content .right-side{
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 50px;
font-weight: 800;
  color: #ffffff;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 16px;
}
.right-side .button input[type="submit"]{
  background-color:#fdfdfd;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .4s; 
  margin-left: 350px;
  margin-top: 20px;
}
.button input[type="submit"]:hover{
  background-color: transparent;
    border: 2px solid #000000;
    cursor: pointer;
}


@media screen and (max-width: 600px)  {
  .containerr{
    margin: 40px 0;
    margin-top: -80px;
    height: 100%;
  }
  .containerr .content{
    flex-direction: column-reverse;
    margin-left: -10%;
    width: 100%;
  }
  .right-side .button input[type="submit"]{
    background-color:#fdfdfd;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 27px;
    border-radius: 30px;
    transition: .4s; 
    margin-left: 80%;
    margin-top: 20px;
  }
 .containerr .content .left-side{
   width: 40%;
   flex-direction: row;
   margin-top: 100px;
   justify-content: center;
   flex-wrap: wrap;
   margin-bottom: -120px;
 }
.content .left-side .details i{
  font-size: 80px;
  color: #ffffff;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 28px;
  color: #ffffff;
  font-weight: 600px;
}
.content .left-side .details .text-two{
  margin-bottom: 70px;
}
 .containerr .content .left-side::before{
   display: none;
 }
 .containerr .content .right-side{
   width: 90%;
   margin-left: 0;
 }
}